# Statistics Finctions in Pandas

In [9]:
import pandas as pd
import numpy as np

In [11]:
df = pd.read_csv("Top 100 most Streamed - sheet4.csv")

In [13]:
df.head()

,title,artist,top genre,year,beats.per.minute,energy,danceability,loudness.dB,liveness,valance,length,acousticness,speechiness,popularity
0,Blinding Lights,The Weeknd,canadian contemporary r&b,2020,171,73,51,-6,9,33,200,0,6,91
1,Watermelon Sugar,Harry Styles,pop,2019,95,82,55,-4,34,56,174,12,5,88
2,Mood (feat. iann dior),24kGoldn,cali rap,2021,91,72,70,-4,32,73,141,17,4,88
3,Someone You Loved,Lewis Capaldi,pop,2019,110,41,50,-6,11,45,182,75,3,86
4,Perfect,Ed Sheeran,pop,2017,95,45,60,-6,11,17,263,16,2,86

### describe()

Generate descriptive statisticss for numerial columns.

In [19]:
df.describe()

,year,beats.per.minute,energy,danceability,loudness.dB,liveness,valance,length,acousticness,speechiness,popularity
count,100.000000,100.000000,100.000000,100.00000,100.000000,100.000000,100.000000,100.000000,100.00000,100.000000,100.000000
mean,2015.960000,116.970000,62.680000,66.96000,-6.100000,16.860000,49.970000,214.530000,24.95000,9.930000,79.670000
std,5.327497,27.470629,16.491737,13.60401,1.987334,12.972403,21.737857,35.934974,26.27876,9.424077,5.905065
min,1975.000000,71.000000,11.000000,35.00000,-14.000000,3.000000,6.000000,119.000000,0.00000,2.000000,53.000000
25%,2015.000000,95.000000,52.000000,59.00000,-7.000000,10.000000,33.750000,190.500000,4.00000,4.000000,79.000000
50%,2017.000000,115.000000,64.500000,69.00000,-6.000000,12.000000,48.000000,210.000000,13.00000,6.000000,81.000000
75%,2018.000000,135.250000,76.000000,77.00000,-5.000000,17.250000,66.000000,234.250000,41.50000,11.000000,83.000000
max,2021.000000,186.000000,92.000000,91.00000,-3.000000,79.000000,93.000000,354.000000,98.00000,46.000000,91.000000

In [22]:
df[['energy','liveness']].describe()

           energy    liveness
count  100.000000  100.000000
mean    62.680000   16.860000
std     16.491737   12.972403
min     11.000000    3.000000
25%     52.000000   10.000000
50%     64.500000   12.000000
75%     76.000000   17.250000
max     92.000000   79.000000

### Statistical Functions

1) Sum<br>
2) Min<br>
3) Max<br>
4) Mean<br>
5) Var<br>
6) Std<br>
7) count<br>

## 1) Sum()

Used to compute the sum of numerial columns

#### Q) Find sum of popularity for the pop genre.

In [34]:
r1 = df[df['top genre']== 'pop']
print(r1.shape)
r1['popularity'].sum()

(11, 14)

899

#### Q) Find year wise sum of liveness and energy

In [40]:
r2 = df.groupby('year')[['liveness','energy']].sum().reset_index()
r2

    year  liveness  energy
0   1975        30      40
1   1995        19      90
2   2004        10      91
3   2008        11      46
4   2012       103     241
5   2013        52     229
6   2014       103     338
7   2015       203     846
8   2016       259    1019
9   2017       163     776
10  2018       342    1208
11  2019       282     935
12  2020        29     221
13  2021        80     188

## 2) Min()

Used to compute the minimum of numerial columns/(s)

#### Q) Find min loudness for the artist Post Malone

In [45]:
r3 = df[df['artist'] == 'Post Malone']
r3.shape

(7, 14)

In [47]:
print(r3['loudness.dB'].min())

-8

#### Q) Find artist wise min of danceability

In [56]:
r4 = df.groupby('artist')['danceability'].min() 
r4.sort_values(ascending = False).head(10)

artist
Kendrick Lamar    91
Roddy Ricch       90
Lil Nas X         88
Mark Ronson       86
Bruno Mars        85
Travis Scott      83
Cardi B           82
Tones And I       82
Calvin Harris     79
OMI               78
Name: danceability, dtype: int64

## 3) Max()

Used to computethe emaximum  of numerial column/(s)s

#### Q) Find max acousticness for the artist Ed Sheeran

In [61]:
r5 = df[df['artist'] == 'Ed Sheeran']
r5.shape

(5, 14)

In [63]:
r5['acousticness'].max()

61

#### Q) Find top genre wise max of length and acousticness

In [69]:
r6 = df.groupby('top genre')[['length','acousticness']].max()
print(r6.shape)
print(type(r6))
r6.head()

(34, 2)
<class 'pandas.core.frame.DataFrame'>

                  length  acousticness
top genre
acoustic pop         242            60
alternative rock     223             0
australian dance     212             5
australian pop       209            69
beatlesque           259             0

## 4) Var()

Used to compute thevariancem of numerial column/(ss

#### Q) Find variance of energy and liveness

In [79]:
r7 = df[['energy','liveness']].var() 
r7

energy      271.977374
liveness    168.283232
dtype: float64

#### Q) Find variance of valance for the year over 2017

In [82]:
r8 = df[df['year']>=2017]
print(r8.shape)
print(r8['valance'].var())

(54, 14)
448.1988120195668

## 5) Std()

Used to compute the standard deviation of numerial column/(s)

#### Q) Find standard deviation of energy and liveness

In [92]:
r7
# var of energy and liveness

energy      271.977374
liveness    168.283232
dtype: float64

In [90]:
r9 = df[['energy','liveness']].std()
r9

energy      16.491737
liveness    12.972403
dtype: float64

#### Q) Find standard of deviation of popularity based on year for the year 2015 and beyond

In [95]:
df_2015beyond = df[df['year']>=2015]
r10 = df_2015beyond.groupby('year')['popularity'].std()
r10

year
2015     5.091471
2016     8.007288
2017     2.386833
2018     6.160144
2019     5.504165
2020     5.131601
2021    11.930353
Name: popularity, dtype: float64

#### 6) Count()

Used to count the number of records for a particular column

#### Q) Find count of songs for Post Malone for the year 2018

In [100]:
df_2018 = df[df['year'] == 2018]
r11 = df_2018['title'][df_2018['artist'] == 'Post Malone'].count()
r11

4

#### Q) Find count of song based on genre

In [107]:
r12 = df.groupby('top genre')['title'].count()
r12.sort_values(ascending = False).head(10)

top genre
dance pop                    28
pop                          11
dfw rap                       7
modern rock                   6
canadian pop                  6
canadian contemporary r&b     4
electropop                    4
melodic rap                   3
latin                         2
folk-pop                      2
Name: title, dtype: int64

## 7) Mean()

Used to count the meanof numerial column

#### Q) Find mean of valance, length and energy

In [118]:
r13 = df[['valance','length','energy']].mean()
r13

valance     49.97
length     214.53
energy      62.68
dtype: float64

#### Q) Find mean of popularity, danceability and energy based on artist

In [126]:
r14 = df.groupby(['artist'])[['popularity','danceability','energy']].mean()
r14.head(10)

                     popularity  danceability  energy
artist
24kGoldn              88.000000     70.000000    72.0
5 Seconds of Summer   80.000000     60.000000    85.0
Alan Walker           72.000000     59.000000    65.0
Ariana Grande         83.000000     75.000000    48.5
Avicii                84.000000     53.000000    78.0
Billie Eilish         83.666667     47.333333    28.0
Bruno Mars            80.000000     85.000000    56.0
Calvin Harris         80.000000     79.000000    86.0
Camila Cabello        80.000000     77.000000    52.0
Cardi B               79.000000     82.000000    73.0

## 8) Median()

Used to compute median of numerial column

#### Q) Find the median of liveness

In [131]:
r15 = df['liveness'].median()
r15

12.0

#### Q) Find median of popularity, energy and speechiness and based on year

In [134]:
r16 = df.groupby('year')[['popularity','energy','speechiness']].median()
r16

      popularity  energy  speechiness
year
1975        81.0    40.0          5.0
1995        77.0    90.0          4.0
2004        81.0    91.0          7.0
2008        80.0    46.0          5.0
2012        80.0    78.0          6.0
2013        83.0    62.5          4.5
2014        81.5    55.5          4.5
2015        79.0    65.0          6.0
2016        79.5    60.0          5.5
2017        82.0    67.5          9.0
2018        80.5    57.5          9.0
2019        81.5    60.5          7.0
2020        84.0    73.0          8.0
2021        85.0    72.0          6.0